<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70086904224-n19oo9t6cf94i6l5rha9d4hvqkf5efb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70086904224-n19oo9t6cf94i6l5rha9d4hvqkf5efb3</string>
	<key>API_KEY</key>
	<string>AIzaSyASBtOLWDhbSSh_Uso3er8ktL-Cn8nbD1U</string>
	<key>GCM_SENDER_ID</key>
	<string>70086904224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vismoxx.Vismoxx</string>
	<key>PROJECT_ID</key>
	<string>vismoxx</string>
	<key>STORAGE_BUCKET</key>
	<string>vismoxx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70086904224:ios:a8ee7664ff07eb3c4d7cc5</string>
</dict>
</plist>